:root {
  --primary: #008000;
  --secondary: #4b4b00;
  --secondary-darker: #797900;
  --box-shadow: 0 0 0 0.25rem #79790040;
  --box-shadow-darker: 0 0 0 0.25rem #79790080;
  --light: #f0f0f0;
  --secondary-light: #e0e0d8;
  --tertiary-color: #f8f9fa;
  --button-hover: #808000;
  --border-radius-primary: 1rem;
}

.blog-card:hover .blog-image {
  transform: scale(1.2);
}

.blog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 350ms ease-in-out;
}
.blog-image-container {
  padding: 0;
  overflow: hidden;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary) !important;
}

.bg-blog-card {
  background-color: var(--tertiary-color) !important;
}

/* blog card styles */
.blog-card {
  border: 2px solid gainsboro;
}

.blog-actions {
  font-size: 0.95rem;
}

a.esl-link {
  color: var(--primary);
}

a.esl-link:hover {
  color: var(--secondary);
}

/* overwriting the default color of links in the template to match the theme */
.blog-card a {
  color: var(--primary) !important;
}

.blog-card a:hover {
  color: var(--secondary) !important;
}

.blog-tag {
  text-align: center;
  text-transform: lowercase;
  background-color: var(--light);
  opacity: 0.8;
  font-size: 0.9rem;
  border: 1px solid var(--secondary);
  border-radius: 0.75rem;
  padding: 0.2rem 0.75rem;
}

.blog-tag:hover {
  opacity: 1;
  border: 1px solid var(--secondary);
  padding: 0.2rem 0.75rem;
}

#spinner .text-primary {
  color: var(--primary) !important;
}

.vacancy-post {
  font-size: 1.5rem;
  border-radius: var(--border-radius-primary);
  border: 5px solid var(--secondary);
}

.link-primary {
  color: var(--primary);
  font-weight: 500;
}

.link-primary:active,
.link-primary:hover {
  text-decoration: underline;
  color: var(--secondary);
}

.link-primary:visited,
.link-primary:hover {
  color: var(--secondary);
}

.btn-primary:active,
.btn-primary:focus {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
  box-shadow: var(--box-shadow);
}

.btn-primary:active:focus {
  box-shadow: var(--box-shadow-darker);
}

.partner-image {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  border: 4px solid var(--secondary);
  padding: 0.5rem;
}

.bg-light {
  background-color: var(--secondary-light) !important;
}

.form-control:focus,
.form-select:focus {
  box-shadow: var(--box-shadow);
  border-color: var(--secondary);
}

.btn-shipment-form {
  border: none;
  background-color: #fff;
  border-top: 5px solid gray;
  font-size: 1.1rem !important;
  filter: opacity(0.7);
}

.btn-shipment-form:hover,
.btn-shipment-form.active {
  border-top-color: var(--secondary) !important;
  color: var(--secondary) !important;
  filter: opacity(1) !important;
}

.btn-shipment-form:hover .form-icon {
  filter: hue-rotate(0deg) !important;
}

.btn-shipment-form:nth-of-type(1) {
  border-right: 2px solid gray;
}

.form-icon {
  width: 36px;
  height: 36px;
  margin-right: 0.5rem;
}
.btn-shipment-form.active {
  font-weight: bold;
  border-top-color: black;
  background-color: #fff;
  border-top: 5px solid gray;
}

.text-color-secondary {
  color: var(--secondary);
}

.btn-primary:hover {
  background-color: var(--button-hover) !important;
  border-color: var(--button-hover) !important;
}

.hidden {
  display: none;
}

.bg-primary {
  background-color: #008000 !important;
}

.blog {
  border: 1px solid green;
}

nav {
  top: 0 !important;
}

/* quick fix for horizontally overflowing navbar */
/* #navbarCollapse {
  overflow: hidden;
} */

nav .collapse.navbar-collapse {
  padding-right: 3.25rem;
}

.navbar-light .navbar-nav .nav-link {
  padding: 2rem 0 !important;
  margin-right: 20px;
}

nav.border-primary {
  border-color: var(--primary) !important;
}

a.logo {
  padding-right: 0rem !important;
  padding-left: 3.25rem !important;
}
a.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.btn-primary {
  color: #000;
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: var(--border-radius-primary);
}

.feature-icon img {
  width: 48px;
  height: 48px;
}

.blog-section-title {
  background: var(--secondary-darker);
  color: white;
}

.blog-popular-news {
  border-bottom: 2px dotted var(--secondary-darker);
}

.blog-popular-news:last-of-type {
  border-bottom: none;
}

.color-secondary {
  color: var(--secondary) !important;
}

.dryport-border-bt {
  border-bottom: 5px double var(--secondary-darker);
}

.agents a {
  color: var(--primary);
}

.agents a:hover {
  color: var(--secondary);
}

.table-agents {
  border: 3px dashed var(--secondary);
}

.table-agents th,
.table-agents td {
  border: 1px solid black;
  padding: 0.5rem;
}

.table-empty-container th,
.table-empty-container td {
  border: 1px solid black;
  padding: 0.5rem;
}

.table-empty-container thead {
  background-color: var(--secondary);
  color: white;
}

.table-fleet-position thead {
  background-color: var(--secondary);
  color: white;
}

.empty-container-form {
  padding: 1rem 2rem !important;
}

.table-utility th,
.table-utility td {
  border: 1px solid black;
}

.table-wrapper {
  overflow-x: auto;
}

.agents {
  overflow-x: scroll;
}

/* styled list bullets */
.mission-and-vision li {
  list-style-type: square;
}

/* set the max height of the carousel images not to exceed a certain height */
/* this is overridden on the home page */
.img-contained {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.container-fluid img,
.logo-container-news,
.blog-small-news {
  max-width: 100%;
  max-height: 30rem;
  object-fit: cover;
}

.features .text-primary {
  color: var(--secondary) !important;
}

.features .btn-link {
  color: var(--secondary) !important;
}

.blog-sidebar {
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
.blog-cloud-tag {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid gainsboro;
  background: white;
  color: black;
  font-size: 0.75rem;
  font-weight: bold;
}

.blog-cloud-tag:hover {
  background: var(--secondary-darker);
  color: white;
}

.blog-sidebar .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 35px;
  transition: 0.3s;
}

@media (min-width: 992px) and (max-width: 1240px) {
  .navbar-light .navbar-nav .nav-link {
    font-size: 0.8rem;
    margin-right: 1rem;
  }
  .dropdown-menu {
    font-size: 0.9rem;
  }
}

.navbar-light .navbar-nav .nav-link::before {
  height: 6px;
}
.youtube-embed {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 2px 15px gainsboro;
}

.youtube-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* overflowing horizontally overflowing navbar  */
body {
  overflow-x: hidden;
}

.icon {
  max-width: 30px;
}

.blog-card {
  border-radius: var(--border-radius-primary);
}

@media (max-width: 992px) {
  .blog-sidebar {
    border: none;
  }
  .navbar-light .navbar-nav .nav-link {
    padding: 0.5rem !important;
  }
  a.logo {
    padding-left: 1.5rem !important;
    max-width: 32vw;
  }
  .form-toggle-container {
    width: 100% !important;
  }
  .vacancy-post {
    font-size: 1.1rem;
  }
  .table-wrapper {
    border: 4px dotted var(--secondary);
    padding: 2rem;
  }
}

@media (max-width: 480px) {
  a.logo {
    padding-left: 0.5rem !important;
    max-width: 28vw;
  }
  .me-4 {
    margin-right: 0.5rem !important;
  }
  .me-4 {
    padding: 0.25rem !important;
  }
  .form-icon {
    width: 24px;
    height: 24px;
  }
}

.features .btn-sm {
  padding-left: 0 !important;
}

@media (max-width: 576px) {
  .blog-card {
    max-width: 95%;
    margin: auto;
  }
  .blog-card .blog-image-container {
    aspect-ratio: 16 / 9;
  }
  .blog-image {
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .blog-actions {
    font-size: 0.825rem;
  }
}
